table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #00ff99;
    font-weight: bold;
}
.header {
    background-color: #00cc66;
    font-size: 1.2em;
}
.sub-header {
    background-color: #00ff99;
}